.contenedor {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 5rem;
}
.pelis {
  border: 2px solid red;
  margin-bottom: 1rem;
  background-color: white;
}
.pelis img {
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
  padding-bottom: 2rem;
}
.pelis h2 {
  width: 90%;
  height: auto;
  text-align: center;
  margin: 1rem;
}
